 <!-- Footer Section -->
 <footer class="bg-white text-black">
  <!-- Let's Keep in Touch Section -->
  <div class="w-100 bg-light  px-md-5">
      <div class="container p-md-5 p-3 py-5 ">
          <div class="row mx-0 align-items-center justify-content-between">
              <div class="col-md-4 text-start">
                  <h5 class="footer-head1 mb-0">Let’s Keep in Touch</h5>
              </div>
              <div class="col-md-8 text-center text-md-end px-md-5 py-2 py-md-0 ">
                  <div class="row">
                      <div class="col-lg-9 col-md-7 col-sm-12  mt-4 mt-md-0">
                          <form class="d-flex align-items-center justify-content-center justify-content-md-end">
                              <input type="email" class="form-control" placeholder="Your email address">
                          </form>
                      </div>
                      <div class="col-lg-3 col-md-5 col-sm-12 mt-4 mt-md-0">
                          <form class="d-flex align-items-center justify-content-md-center justify-content-start justify-content-md-end">
                              <button type="submit" class="btn1">Submit</button>
                          </form>  
                      </div>
                  </div>
                 
              </div>
          </div>
      </div>
  </div>
  
  <!-- Footer Links -->
  <div class="container px-4 p-md-0 py-5 py-md-0">
      <div class="row px-md-4">
          <!-- Trace Mayer -->
          <div class="col-md-7 p-md-5">
              <h5 class="footer-head">Trace Mayer</h5>
              <p class="footer-para mt-4 mt-md-0">Lorem ipsum dolor sit amet erat in puella.</p>
              <div class="py-4">
                  <a href="#" class="text-black me-3"><i class="bi bi-twitter icons"></i></a>
                  <a href="#" class="text-black me-3"><i class="bi bi-facebook icons"></i></a>
                  <a href="#" class="text-black me-3"><i class="bi bi-instagram icons"></i></a>
                  <a href="#" class="text-black me-3"><i class="bi bi-linkedin icons"></i></a>
              </div>
          </div>

          <!-- Projects -->
          <div class="col-md-2 p-md-5 py-4 py-0">
              <h5 class="footer-head">Projects</h5>
              <ul class="list-unstyled">
                  <li><a href="#" class="text-black footer-li" >Project 1</a></li>
                  <li><a href="#" class="text-black footer-li" style="text-decoration: none;">Project 2</a></li>
                  <li><a href="#" class="text-black footer-li" style="text-decoration: none;">Project 3</a></li>
                  <li><a href="#" class="text-black footer-li" style="text-decoration: none;">Project 4</a></li>
              </ul>
          </div>

          <!-- Company -->
          <div class="col-md-3 p-md-5">
              <h5 class="footer-head">Company</h5>
              <ul class="list-unstyled">
                  <li><a href="#" class="text-black footer-li" style="text-decoration: none;">Blog</a></li>
                  <li><a href="#" class="text-black footer-li" style="text-decoration: none;">About</a></li>
                  <li><a href="#" class="text-black footer-li" style="text-decoration: none;">Contact</a></li>
                  <li><a href="#" class="text-black footer-li" style="text-decoration: none;">Privacy Policy</a></li>
                  <li><a href="#" class="text-black footer-li" style="text-decoration: none;">Terms & Conditions</a></li>
              </ul>
          </div>
      </div>
  </div>
</footer>
