  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark py-5 ">
    <div class="container">
        <a href="index.html" class="navbar-brand px-md-5 px-2">
            <img src="assets/images/trace_logo.svg" alt="Logo" class="logo">
        </a>
        <button class="navbar-toggler px-3 px-md-0" id="navbarToggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <!-- Single icon container -->
            <div class="navbar-toggler-icon">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>
        </button>
        <div class="px-3 collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto px-md-5 pt-4 pt-md-0">
                <li class="nav-item">
                    <a class="nav-link " href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="story.html">My Story</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="investments.html">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="speaking.html">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>