<div class="container">
  <div class="row w-100">
    <div class="resource-item pb-md-5 px-md-5">
      <img src="/assets/images/story/bitcoin-epoch-1.png" alt="Bitcoin Epoch 1" class="img-fluid custom-image" />
    </div>
  </div>
  <div class="row w-100">
    <div class="resource-item pb-md-5 px-md-5">
      <img src="/assets/images/story/bitcoin-epoch-2.png" alt="Bitcoin Epoch 2" class="img-fluid custom-image" />
    </div>
  </div>
  <div class="row w-100">
    <div class="resource-item pb-md-5 px-md-5">
      <img src="/assets/images/story/bitcoin-epoch-3.png" alt="Bitcoin Epoch 3" class="img-fluid custom-image" />
    </div>
  </div>
  <div class="row w-100">
    <div class="resource-item pb-md-5 px-md-5">
      <img src="/assets/images/story/bitcoin-epoch-4.png" alt="Bitcoin Epoch 4" class="img-fluid custom-image" />
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 px-md-5">
      <p>In 2003, Trace obtained his Bachelor&rsquo;s degree in Accounting from Brigham Young University. He continued his education at California Western School of Law, completing his JD in 2007. During his time at California Western, he wrote a paper on monetary jurisprudence, which was a catalyst for his diving into the monetary market.</p>

      <p>Trace started <a href="https://www.runtogold.com/" class="text-link" target="_blank">runtogold.com</a> in 2008, one of the earliest websites and blogs that provided education and content on Bitcoin and cryptocurrency. As the primary contributor, Trace disseminated original ideas and education to the world about this new platform.</p>

      <p>That same year, Trace experienced two other monumental events in his career. He attended the <a href="https://www.gata.org/node/12105" class="text-link" target="_blank">Global Anti-Trust Alliance (GATA)</a> conference, as well as hosted a breakfast with Dr. Vieira, author of Pieces of Eight.</p>

      <p>Run to Gold continued providing education, and in 2009 Trace launched its podcast. This gave cryptocurrency experts a discussion forum, opening the doors wide open to anyone interested in diving deep into this space.</p>

      <p>In Fall 2009, Bloomberg News hosted Trace as a guest to discuss his deep knowledge of Bitcoin.</p>

      <p>2011 brought many large milestones in Trace&rsquo;s career. The highlights include:</p>
      <ul>
        <li>Partnering with <a href="https://www.bitcoinarmory.com/" class="text-link" target="_blank">Armory</a> to create cold storage, which allows Bitcoin investors a secure wallet for their investments.</li>
        <li>First published article about Bitcoin</li>
      </ul>

      <p>Following his initial success, his presence and knowledge continued gaining a larger and larger following. He released his first version of a Bitcoin Guide in 2012, absolutely free to the general public. At the end of 2012, Trace continued his partnership with Armory, and they entered the first seed round of funding.</p>

      <p>Trace&rsquo;s public presence and impact took off in 2013. He was a guest on multiple news outlets, sharing his expertise and authority on Bitcoin and its ability to transform the money market and the world we live in. A few of many key moments that solidified his place as an expert in the industry:</p>
      <ul>
        <li>March: BBC Newsnight Guest</li>
        <li>April:</li>
        <ul>
          <li>Joined the <a href="https://bitcoinmagazine.com/" class="text-link" target="_blank">Bitcoin Magazine</a> Editorial Board</li>
          <li>Fox Business Guest</li>
        </ul>
        <li>May:</li>
        <ul>
          <li>First Bitcoin Conference: Key Organizer and Presented at the conference</li>
          <li>Armory seed round of funding/investing</li>
        </ul>
        <li>October: Proofread &ldquo;Bitcoin for Kids&rdquo;</li>
        <li>December: <a href="https://www.kraken.com/" class="text-link" target="_blank">Kraken</a> - Co-led Series A investment round with Hummingbird, which gave Bitcoin an exchange</li>
      </ul>

      <p>
        The <a href="https://podcasts.apple.com/us/podcast/the-bitcoin-knowledge-podcast/id301670981" class="text-link" target="_blank">Bitcoin Knowledge Podcast</a> was launched in early 2014, giving way to more knowledge sharing for Bitcoin and the money market. Some of the notable guests over the years have included <a href="https://podcasts.apple.com/us/podcast/bitcoin-economist-saifedean-ammous-talks-about-bitcoin/id301670981?i=1000445186419" class="text-link" target="_blank">Saifedean Ammous</a>, <a href="https://podcasts.apple.com/us/podcast/caitlin-long-with-trace-mayer-and-tyler-lindholm/id301670981?i=1000451977886" class="text-link" target="_blank">Caitlin Long</a>, <a href="https://podcasts.apple.com/us/podcast/legendary-guest-dr-adam-back-updates-his-bitcoin-observations/id301670981?i=1000429693505" class="text-link" target="_blank">Adam Back</a>, and
        <a href="https://podcasts.apple.com/us/podcast/stephen-livera-interviews-trace-mayer-about-bitcoin/id301670981?i=1000454558016" class="text-link" target="_blank">Stephen Livera</a>.
      </p>

      <p>Soon after the launch of the Bitcoin Knowledge Podcast launched, Armory entered its cold storage mutisig phase in April 2014, giving crypto wallets a secure way to store currency for the private keys required for transactions, resulting in the utmost protection from theft.</p>

      <p>Trace&rsquo;s momentum only gained in the following years. In 2015, he presented an <a href="https://www.youtube.com/watch?v=TCU-soMs1wY" class="text-link" target="_blank">impromptu speech</a> at the Bitcoin Event at LaGuardia Community College: The Future of Cryptocurrency. There, Trace discussed what the future would be for Bitcoin and why. He dove into the background of Bitcoin, his investments, use cases for Bitcoin, and network effects with Bitcoin.</p>

      <p>Another 2015 feature moment was when Trace hosted Dr. Back and Gavin Andresen about the block size increase to larger than 1MB. During this time, there were many debates about whether this was the right move to make and were coined The Blocksize Wars. While nothing was resolved at this time, it did lead to larger conversations for the future and the ultimate implementation of <a href="https://www.investopedia.com/terms/s/segwit-segregated-witness.asp" class="text-link" target="_blank">SegWit</a> that allowed for Bitcoin&rsquo;s scalability.</p>

      <p>Trace had the opportunity to <a href="https://podcasts.apple.com/dk/podcast/bitcoin-core-developer-and-crypto-entrepreneur-jonas/id301670981?i=1000433548462" class="text-link" target="_blank">interview Jonas Schnelli</a> in 2016, and they examined the hot topic of why Craig Wright is a fraud. Wright had claimed to be a driver and creator of Bitcoin, which is widely accepted as a false claim.</p>

      <p>Also in 2016, Trace extensively shared and discussed the <a href="https://www.liquiditypyramid.com/" class="text-link" target="_blank">Liquidity Pyramid</a>. He provided this as an example of various currencies and their level of safety and, as one may guess, liquidity - like gold and Bitcoin.</p>

      <p>The Blocksize Wars continued in 2017, and Trace was a key contributor to the discussion, supporting keeping the smaller block size and maintaining Bitcoin&rsquo;s decentralized nature. He taught how to profit from the eventual block size fork, which would progress to the goal of financial privacy and provide more long-term options for wealth.</p>

      <p>In late 2018, Trace saw the need for and created <a href="https://www.proofofkeys.com/" class="text-link" target="_blank">Proof of Keys</a> Day. This event encourages Bitcoin holders to take full control of their keys, taking their coins off exchanges and into their own wallets for one day - all to prove rightful ownership of. All of this is to promote the belief &ldquo;not your keys, not your Bitcoin&rdquo;. The first Proof of Keys Day was January 3, 2019, and was a huge success with thousands attending throughout the world. The exact number cannot be reported, as there is no centralized registration or formal tracking, which is in line with the core ideas of Bitcoin. Proof of Keys Day has continued every January 3rd since and remains a social media blitz.</p>

      <p>Starting in 2020, Trace&rsquo;s investments really started to climb. In Q4 2020, he helped <a href="https://www.nydig.com/" class="text-link" target="_blank">New York Digital Investment Group (NYDIG)</a>, a Bitcoin-focused financial firm, scale and take off through his Series B funding.</p>

      <p>Following his NYDIG investment, he also</p>
      <ul>
        <li>Led the <a href="https://custodiabank.com/" class="text-link" target="_blank">Custodia Bank</a> Series A funding (2021), a specialized digital asset bank</li>
        <li>Invested in <a href="https://wolfnyc.com/" class="text-link" target="_blank">Wolf</a> (2023), a lightning incubator with NYDIG</li>
        <li>Invested in <a href="https://www.rtxfintech.com/" class="text-link" target="_blank">RTX</a> (2023), a swap dealer focused on efficiency, liquidity, and dependability</li>
      </ul>

      <p>His most recent investment and business venture was founding <a href="https://www.urimcapital.com/" class="text-link" target="_blank">Urim Capital</a> in 2024. This firm is focused on early-stage cryptocurrency related projects, real estate, and software development.</p>

      <p>This is not the end for Trace, but rather a continuation of infinite possibilities.</p>
    </div>
  </div>
</div>
