<div class="container">
  <div class="row w-100">
    <div class="resource-item px-md-5">
      <img src="/assets/images/story/bitcoin-epoch-4.png" alt="Bitcoin Epoch 4" class="img-fluid custom-image" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 px-md-5 pb-md-5">
      <p>Starting in 2020, Trace&rsquo;s investments really started to climb. In Q4 2020, he helped <a href="https://www.nydig.com/" class="text-link" target="_blank">New York Digital Investment Group (NYDIG)</a>, a Bitcoin-focused financial firm, scale and take off through his Series B funding.</p>
      <p>Following his NYDIG investment, he also</p>
      <ul>
        <li>Led the <a href="https://custodiabank.com/" class="text-link" target="_blank">Custodia Bank</a> Series A funding (2021), a specialized digital asset bank</li>
        <li>Invested in <a href="https://wolfnyc.com/" class="text-link" target="_blank">Wolf</a> (2023), a lightning incubator with NYDIG</li>
        <li>Invested in <a href="https://www.rtxfintech.com/" class="text-link" target="_blank">RTX</a> (2023), a swap dealer focused on efficiency, liquidity, and dependability</li>
      </ul>

      <p>His most recent investment and business venture was founding <a href="https://www.urimcapital.com/" class="text-link" target="_blank">Urim Capital</a> in 2024. This firm is focused on early-stage cryptocurrency related projects, real estate, and software development.</p>

      <p>This is not the end for Trace, but rather a continuation of infinite possibilities.</p>
    </div>
  </div>
</div>
