<div class="container">
  <div class="row w-100">
    <div class="resource-item px-md-5">
      <img src="/assets/images/story/bitcoin-epoch-1.png" alt="Bitcoin Epoch 1" class="img-fluid custom-image" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 px-md-5 pb-md-5">
      <p>In 2003, Trace obtained his Bachelor&rsquo;s degree in Accounting from Brigham Young University. He continued his education at California Western School of Law, completing his JD in 2007. During his time at California Western, he wrote a paper on monetary jurisprudence, which was a catalyst for his diving into the monetary market.</p>

      <p>Trace started <a href="https://www.runtogold.com/" class="text-link" target="_blank">runtogold.com</a> in 2008, one of the earliest websites and blogs that provided education and content on Bitcoin and cryptocurrency. As the primary contributor, Trace disseminated original ideas and education to the world about this new platform.</p>

      <p>That same year, Trace experienced two other monumental events in his career. He attended the <a href="https://www.gata.org/node/12105" class="text-link" target="_blank">Global Anti-Trust Alliance (GATA)</a> conference, as well as hosted a breakfast with Dr. Vieira, author of Pieces of Eight.</p>

      <p>Run to Gold continued providing education, and in 2009 Trace launched its podcast. This gave cryptocurrency experts a discussion forum, opening the doors wide open to anyone interested in diving deep into this space.</p>

      <p>In Fall 2009, Bloomberg News hosted Trace as a guest to discuss his deep knowledge of Bitcoin.</p>

      <p>2011 brought many large milestones in Trace&rsquo;s career. The highlights include:</p>
      <ul>
        <li>Partnering with <a href="https://www.bitcoinarmory.com/" class="text-link" target="_blank">Armory</a> to create cold storage, which allows Bitcoin investors a secure wallet for their investments.</li>
        <li>First published article about Bitcoin</li>
      </ul>
    </div>
  </div>
</div>
