<div class="container">
  <div class="row w-100">
    <div class="resource-item px-md-5">
      <img src="/assets/images/proof_of_work/bitcoin-epoch-3.png" alt="Bitcoin Epoch 3" class="img-fluid custom-image" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 px-md-5 pb-md-5">
      <p>Trace had the opportunity to <a href="https://podcasts.apple.com/dk/podcast/bitcoin-core-developer-and-crypto-entrepreneur-jonas/id301670981?i=1000433548462" class="text-link" target="_blank">interview Jonas Schnelli</a> in 2016, and they examined the hot topic of why Craig Wright is a fraud. Wright had claimed to be a driver and creator of Bitcoin, which is widely accepted as a false claim.</p>

      <p>Also in 2016, Trace extensively shared and discussed the <a href="https://www.liquiditypyramid.com/" class="text-link" target="_blank">Liquidity Pyramid</a>. He provided this as an example of various currencies and their level of safety and, as one may guess, liquidity - like gold and Bitcoin.</p>

      <p>The Blocksize Wars continued in 2017, and Trace was a key contributor to the discussion, supporting keeping the smaller block size and maintaining Bitcoin&rsquo;s decentralized nature. He taught how to profit from the eventual block size fork, which would progress to the goal of financial privacy and provide more long-term options for wealth.</p>

      <p>In late 2018, Trace saw the need for and created <a href="https://www.proofofkeys.com/" class="text-link" target="_blank">Proof of Keys</a> Day. This event encourages Bitcoin holders to take full control of their keys, taking their coins off exchanges and into their own wallets for one day - all to prove rightful ownership of. All of this is to promote the belief &ldquo;not your keys, not your Bitcoin&rdquo;. The first Proof of Keys Day was January 3, 2019, and was a huge success with thousands attending throughout the world. The exact number cannot be reported, as there is no centralized registration or formal tracking, which is in line with the core ideas of Bitcoin. Proof of Keys Day has continued every January 3rd since and remains a social media blitz.</p>
    </div>
  </div>
</div>
