<div class="container">
  <div class="row w-100">
    <div class="resource-item px-md-5">
      <img src="/assets/images/proof_of_work/bitcoin-epoch-1.png" alt="Bitcoin Epoch 1" class="img-fluid custom-image" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 px-md-5 pb-md-5">
      <p>In 2003, Trace obtained a bachelor degree in accounting and later a law degree. During law school he researched and wrote a paper on monetary jurisprudence. This was the catalyst for his diving into the field of monetary science.</p>

      <p>Trace started <a href="https://www.runtogold.com/" class="text-link" target="_blank">Run to Gold</a> in 2008. This platform eventually became one of the earliest sources that provided educational and philosophical content on Bitcoin. Trace disseminated original ideas and education to the world about this innovative magic Internet money.</p>

      <p>During 2008 he attended the <a href="https://www.gata.org/node/12105" class="text-link" target="_blank">Global Anti-Trust Alliance (GATA)</a> conference and had breakfast with Dr. Vieira, author of Pieces of Eight.</p>

      <p>Run to Gold continued providing education and in 2009 Trace launched its podcast which opened the doors to anyone interested in diving deeper into this space of monetary sovereignty.</p>

      <p>In Fall 2009, Bloomberg News hosted Trace as a guest to discuss <a href="https://www.creditcontraction.com/" class="text-link" target="_blank">The Great Credit Contraction</a> and the <a href="https://www.liquiditypyramid.com/" class="text-link" target="_blank">liquidity pyramid</a>.</p>

      <p>Other notable events between 2008-2012 include:</p>
      <ul>
        <li>Analysis of the <a href="https://www.runtogold.com/a-problem-with-gld-and-slv-etfs/" class="text-link" target="_blank">GLD ETF Prospectus</a></li>
        <li>First published article about <a href="https://www.howtovanish.com/the-best-financial-privacy-is-here-probably/" class="text-link" target="_blank">Bitcoin</a></li>
      </ul>
      <div class="pt-5">
        <center><iframe class="yt-vid p-0" src="https://www.youtube.com/embed/TCU-soMs1wY?si=nWhuX3bdzfpMD5Ci" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></center>
      </div>
    </div>
  </div>
</div>
