<div class="container">
  <div class="row w-100">
    <div class="resource-item px-md-5">
      <img src="/assets/images/story/bitcoin-epoch-2.png" alt="Bitcoin Epoch 2" class="img-fluid custom-image" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 px-md-5 pb-md-5">
      <p>Following his initial success, his presence and knowledge continued gaining a larger and larger following. He released his first version of a Bitcoin Guide in 2012, absolutely free to the general public. At the end of 2012, Trace continued his partnership with Armory, and they entered the first seed round of funding.</p>

      <p>Trace&rsquo;s public presence and impact took off in 2013. He was a guest on multiple news outlets, sharing his expertise and authority on Bitcoin and its ability to transform the money market and the world we live in. A few of many key moments that solidified his place as an expert in the industry:</p>
      <ul>
        <li>March: <a href="https://www.youtube.com/watch?v=UA5_paH__q0" class="text-link" target="_blank">BBC Newsnight</a> Guest</li>
        <li>April:</li>
        <ul>
          <li>Joined the <a href="https://bitcoinmagazine.com/" class="text-link" target="_blank">Bitcoin Magazine</a> Editorial Board</li>
          <li><a href="https://www.youtube.com/watch?v=NM32O5YqgdY" class="text-link" target="_blank">Fox Business</a> Guest</li>
        </ul>
        <li>May:</li>
        <ul>
          <li>Organized and <a href="https://www.youtube.com/watch?v=bW6hxEuoHAI" class="text-link" target="_blank">presented</a> at the 2013 Bitcoin Conference</li>
          <li>Armory seed round of funding/investing</li>
        </ul>
        <li>October: Proofread <a href="https://www.amazon.com/Bitcoin-Beginner-Kids-Trilogy-Inspirational-ebook/dp/B00GCMFWSA" class="text-link" target="_blank">Bitcoin For Kids</a></li>
        <li>December: <a href="https://techcrunch.com/2014/03/25/payward-raises-5m-from-hummingbird-to-fund-kraken-bitcoin-exchange/" class="text-link" target="_blank">Kraken</a> - Co-led Series A investment round with Hummingbird</li>
      </ul>

      <p>
        The <a href="https://www.bitcoin.kn" class="text-link" target="_blank">Bitcoin Knowledge Podcast</a> was launched in early 2014, giving way to more knowledge sharing for Bitcoin and the money market. Some of the notable guests over the years have included <a href="https://www.bitcoin.kn/2019/7/saifedean-ammous-store-of-value/" class="text-link" target="_blank">Saifedean Ammous</a>, <a href="https://www.bitcoin.kn/2018/08/caitlin-long-financialization/" class="text-link" target="_blank">Caitlin Long</a>, <a href="https://www.bitcoin.kn/2019/2/adam-back-bitcoin/" class="text-link" target="_blank">Adam Back</a>, and
        <a href="https://www.bitcoin.kn/2019/10/stephen-livera-ultimate-collateral/" class="text-link" target="_blank">Stephen Livera</a>.
      </p>

      <p>Soon after the launch of the Bitcoin Knowledge Podcast launched, Armory entered its cold storage mutisig phase in April 2014, giving crypto wallets a secure way to store currency for the private keys required for transactions, resulting in the utmost protection from theft.</p>

      <p>Trace&rsquo;s momentum only gained in the following years. In 2015, he presented an <a href="https://www.youtube.com/watch?v=TCU-soMs1wY" class="text-link" target="_blank">impromptu speech</a> at the Bitcoin Event at LaGuardia Community College: The Future of Cryptocurrency. There, Trace discussed what the future would be for Bitcoin and why. He dove into the background of Bitcoin, his investments, use cases for Bitcoin, and network effects with Bitcoin.</p>

      <p>Another 2015 feature moment was when Trace hosted Dr. Back and Gavin Andresen about the block size increase to larger than 1MB. During this time, there were many debates about whether this was the right move to make and were coined The Blocksize Wars. While nothing was resolved at this time, it did lead to larger conversations for the future and the ultimate implementation of <a href="https://www.investopedia.com/terms/s/segwit-segregated-witness.asp" class="text-link" target="_blank">SegWit</a> that allowed for Bitcoin&rsquo;s scalability.</p>
    </div>
  </div>
</div>
