<div class="black-section ">
	<div class="container ps-md-3">
		<div class="row">
			<div class="col-md-12 ps-md-5">
				<iframe class="yt-vid" src="https://www.youtube.com/embed/mgpDuH17T0Y?si=nKR_iYHgnAZxD255" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
				<h2 class="fw-bold display-4 pb-md-4 px-2 py-md-4">Why Hire Bitcoin</h2>
				<iframe class="yt-vid" src="https://www.youtube.com/embed/JYkQBBg55q8?si=kX2MdMBZY3iL52WY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
				<p class="ps-2 pt-5">Bitcoin is an amazing technological innovation enabling the transfer of value over a communications channel. There are many different use cases for individuals to buy and hold Bitcoin.</p>
				<p class="ps-2 ">Understanding the job that needs to be done is critical for prioritizing what extensibility to focus on.</p>
				<h2 class="fw-bold display-4 pb-md-4 px-2 py-md-4">Major Categories For Hiring Bitcoin</h2>
				<p class="ps-2">
					<ul>
						<li>Secure Online Transactions</li>
						<li>Bail-Ins</li>
						<li>Negative Interest Rates</li>
						<li>Borderless</li>
						<li>Irreversible</li>
						<li>Deflation</li>
						<li>Programmable Money</li>
						<li>Multi-Signature</li>
						<li>Bitcoin 2.0</li>
						<li>Monetary Sovereignty</li>
					</ul>
				</p>
				<h2 class="fw-bold display-4 pb-md-4 px-2 py-md-4">Monetary Sovereignty</h2>
				<p class="ps-2 pb-5" >For example, mankind has never really owned their own money before. It's always been owned by their rulers. In the case of the United states that would be the Federal Reserve and it's board members. The Fed is not a part of government, but rather a private cabal. Even when our government had a currency actually backed by reserves it was only fractionally backed and therefore just an illusion. Bitcoin gives the ability for people to actually own their own money. You can't possibly own something if someone else can dilute the value of it by making more and taking it from you through inflation. With bitcoin the amount that will be created is known and that is it.</p>
			</div>               
		</div>
	</div>
</div>