<!-- story Section -->
<div class="black-section py-5">
	<div class="container ps-md-3 py-3">
		<div class="row">
			<div class="col-md-12 ps-md-5">
				<h3 class="pb-2 ps-2">Speaker Intro Video</h3>
				<iframe class="yt-vid" src="https://www.youtube.com/embed/mgpDuH17T0Y?si=L1sGJ4_5nEm9lkvW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
				<h3 class="pb-2 pt-4 ps-2">FOX Business - April 2013</h3>
				<iframe class="yt-vid" src="https://www.youtube.com/embed/NM32O5YqgdY?si=xWgewyVpPc-dzUd7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
				<h3 class="pb-2 pt-4 ps-2">BBC Newsnight - March 2013</h3>
				<iframe class="yt-vid" src="https://www.youtube.com/embed/UA5_paH__q0?si=HVLaNtg8Zz3_Lccw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
				<h3 class="pb-2 pt-4 ps-2">Coin Summit - Bitcoin Security Standards - March 2014</h3>
				<iframe class="yt-vid" src="https://www.youtube.com/embed/F28bqzD-m5w?si=q_iTn6_qDvY-uLuy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
				<h3 class="pb-2 pt-4 ps-2">Money and Tech - March 2014</h3>
				<iframe class="yt-vid" src="https://www.youtube.com/embed/ge-Rc6XvU6w?si=Ru_Ezqe3YeIK6faC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
				<h3 class="pb-2 pt-4 ps-2">2013 Bitcoin Conference - San Jose May 2013</h3>
				<p class="ps-2">The first Bitcoin conference. Trace helped organize it.</p>
				<iframe class="yt-vid" src="https://www.youtube.com/embed/bW6hxEuoHAI?si=VLfDowEYDvvsYNp8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
				<h3 class="pb-2 pt-4 ps-2">Financial Survival Network - July 2012</h3>
				<iframe class="yt-vid" src="https://www.youtube.com/embed/yB30alf2smw?si=gN8D456-89JtU0Ao" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
				<h3 class="pb-2 pt-4 ps-2">Business News Network - Oct 2009</h3>
				<p class="ps-2">On mainstream financial news he discussed the gold price suppression scheme and The Great Credit Contraction.</p>
				<iframe class="yt-vid" src="https://www.youtube.com/embed/tginkcCyQJ8?si=AuENCcWA9IcB8xPq" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>
